/* Start coding here */
@font-face {
    font-family: 'IannnnnCPU';
    src: url('./fonts/2005_iannnnnCPU.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

    * {
        font-family: 'IannnnnCPU', sans-serif;
    }